{% load static %}
  <!doctype html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>cdnmethod</title>
  </head>
  <body>
    <h1>mega star</h1>
    <div class="alert alert-primary" role="alert">
        my first and method
      </div>
      <h1>archana <span class="badge badge-secondary">bava</span></h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">sandeep</a></li>
          <li class="breadcrumb-item active" aria-current="page">hero</li>
        </ol>
      </nav>
      <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Primary</a>
      <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Link</a>
      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <button type="button" class="btn btn-secondary">1</button>
        <button type="button" class="btn btn-secondary">2</button>
      
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            sandeep
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">archana</a>
            <a class="dropdown-item" href="#">lasya</a>
          </div>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="{% static 'images/ram.jpg' %}" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">ram charan</h5>
          <p class="card-text">Konidela Ram Charan Teja (born 27 March 1985) is an Indian actor, producer, and entrepreneur who works predominantly in Telugu films. One of the highest-paid Telugu film actors, he is the recipient of three Filmfare Awards and two Nandi Awards. Since 2013, he has featured in Forbes India's Celebrity.</p>
          <a href="#" class="btn btn-primary">cherry</a>
        </div>
      </div>
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
              <img src="{% static 'images/charan.jpg' %}" class="d-block w-100" alt="" height="700px" width="200px">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/cherry.jpg' %}" class="d-block w-100" alt="" height="700px" width="200px">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/mega.jpg' %}" class="d-block w-100" alt="" height="700px" width="200px">
          </div>
        </div>
      </div>
      <p>
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          Link 
        </a>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Button 
        </button>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          i 'm archana 
        </div>
      </div>
      <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          VASU
        </a>
      
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">teja</a>
          <a class="dropdown-item" href="#">chanivi</a>
          <a class="dropdown-item" href="#">archi</a>
        </div>
      </div><form>
        <div class="form-group">
          <label for="exampleFormControlFile1">sreenu</label>
          <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
      </form>
      <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
          <span class="input-group-text" id="addon-wrapping">$</span>
        </div>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
      </div>
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">bava</h1>
          <p class="lead"> he is good person and most multi talent person in my life.</p>
        </div>
      </div>
      <ul class="list-group">
        <li class="list-group-item active" aria-current="true">daddy</li>
        <li class="list-group-item">mummy</li>
        <li class="list-group-item">son</li>
        <li class="list-group-item">daughter</li>
        <li class="list-group-item">bava</li>
      </ul>
      <div class="media">
        <img src="{% static 'images/star.jpg' %}" class="mr-3" alt="...">
        <div class="media-body">
          <h5 class="mt-0">Megastar</h5>
          <p> <div class="media">
            <img src="..." class="mr-3" alt="">
            <div class="media-body">
              <h5 class="mt-0">Media heading</h5>
              <p>Will you do the same for me? It's time to face the music I'm no longer your muse. Heard it's beautiful, be the judge and my girls gonna take a vote. I can feel a phoenix inside of me. Heaven is jealous of our love, angels are crying from up above. Yeah, you take me to utopia.</p>
            </div>
          </div></p>
        </div>
      </div>
      <div class="modal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>i love my self .</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
              <button type="button" class="btn btn-primary">Save</button>
            </div>
          </div>
        </div>
      </div>
      <nav class="nav">
        <a class="nav-link active" href="#">Archi</a>
        <a class="nav-link" href="#">lasya</a>
        <a class="nav-link" href="#">vasu</a>
        <a class="nav-link disabled">sowmi</a>
      </nav>
      <!-- As a link -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">annaya</a>
  </nav>
  
  <!-- As a heading -->
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">sister</span>
  </nav>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">nanna</a></li>
      <li class="page-item"><a class="page-link" href="#">v</a></li>
      <li class="page-item"><a class="page-link" href="#">a</a></li>
      <li class="page-item"><a class="page-link" href="#">s</a></li>
      <li class="page-item"><a class="page-link" href="#">l</a></li>
    </ul>
  </nav>
  $(function () {
    $('[nanna="archi"]').archi()
  })
  <div class="progress">
    <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
  </div>

    <!-- Optional JavaScript; choose one of the two! -->
<nav id="navbar-example2" class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">archi</a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#fat">sandeep</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#mdo">lasya</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">ANJI</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#one">one</a>
        <a class="dropdown-item" href="#two">two</a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item" href="#three">three</a>
      </div>
    </li>
  </ul>
</nav>
<div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
  <h4 id="fat">sandeep</h4>
  <p>Ram Charan was born in Madras (now Chennai) to Telugu film actor Chiranjeevi and his wife Surekha on 27 March 1985. He has two sisters: Sushmitha and Sreeja. He is the grandson of Allu Ramalingaiah and the nephew 
</p>
  <h4 id="mdo">lasya</h4>
  <p>Ram Charan was born in Madras (now Chennai) to Telugu film actor Chiranjeevi and his wife Surekha on 27 March 1985. He has two sisters: Sushmitha and Sreeja. He is the grandson of Allu Ramalingaiah and the nephew 
</p>
  <h4 id="one">one</h4>
  <p>Ram Charan was born in Madras (now Chennai) to Telugu film actor Chiranjeevi and his wife Surekha on 27 March 1985. He has two sisters: Sushmitha and Sreeja. He is the grandson of Allu Ramalingaiah and the nephew 
</p>
  <h4 id="two">two</h4>
  <p>Ram Charan was born in Madras (now Chennai) to Telugu film actor Chiranjeevi and his wife Surekha on 27 March 1985. He has two sisters: Sushmitha and Sreeja. He is the grandson of Allu Ramalingaiah and the nephew 
</p>
  <h4 id="three">three</h4>
  <p>Ram Charan was born in Madras (now Chennai) to Telugu film actor Chiranjeevi and his wife Surekha on 27 March 1985. He has two sisters: Sushmitha and Sreeja. He is the grandson of Allu Ramalingaiah and the nephew 
</p>
</div>
<div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="..." class="rounded mr-2" alt="...">
      <strong class="mr-auto">Bootstrap</strong>
      <small>11 mins ago</small>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
    my world is my brother
    </div>
  </div>
  <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
    archana
  </button>
  <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
    sandeep
  </button>
  <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
    lasya
  </button>
  <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="left" title="Tooltip on left">
    BAVA
  </button>
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    -->
  </body>
</html>